@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.navbar-default {
    background-color: rgb(255,215,0);
    border-color: rgb(255,215,0);
    border-radius: 0;
}

.fontCaveat {
    font-family: 'Lobster', cursive;
}

.index_container{
    position: relative;
    text-align: center;
    color: white;
}

.index_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family:'Lobster', cursive;
    font-size: 10vw;
}

.btn_centered{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar{
  margin-bottom: 0px;
}

.aHover{
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

.aHover:hover{
  font-size: 30px;
}

.btn_try{
  font-size: 1vw;
  font-family: 'Courgette', cursive;
}

.left{
  position: absolute;
  left: auto;
  width: 15vw;
  height: 800px;
  border: 3px solid black;
}

.right{
  position: absolute;
  left: 15vw;
  width: 85vw;
  height: 800px;
  border: 3px solid green;

}

.memberCard {
  /* height: 300px; */
  width: 50%;
  margin: 20px auto;
  text-align: left;
  padding: 20px;
  border: 2px ridge white;
  border-radius: 15px;
}

.info {
  font-size: 20px;
  margin: 30px auto;
  width: 400px;
  font-family: 'Courgette', cursive;
}

.mamberPageInfo {
  padding-left: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Login page */
#addMem{
  width: 25%;
  height: 75%;
  margin-left:37%;
  margin-top:5%;
  background-color: whitesmoke;
  border: 5px solid rgb(46,78,111);
  border-radius: 5px;
  /* padding: 5px; */
  text-align: center;
}


#addusername,#addpassword{
  width: 60%;
}


div.modal-dialog,div.modal-content{
  width: 100%;
  height: 100%;
  margin:0;
}

div button{
  margin-top: 20px;
}
div.modal-footer{
  /* height:50px; */
  padding: 0;
  justify-content: center;
  align-items: center;
}
div.modal-header{
  height: 60px;
  align-items: center;
  background-color: rgb(250,216,73);
}

div.container{
  width: 100%;
}

/* Music Editor page */
.customizeLabels{
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  background-color: lightgray;
}

.customizeLabels label{
  padding-bottom: 5px;
}

.customizeBtns{
  padding-right: 10px;
  text-align: right;
}

.editorBtns {
  padding: 10px;
  text-align: right;
}

.samples{
  padding-top: 20px;
}

.samples button {
  width: 90%;
  margin: 10px 10px;
}

.leftBottom{
  position: absolute;
  width: 90%;
  text-align: center;
  margin-left: 20px;
  bottom: 20px;
}

.aboutContent{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  

}