@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-default {
    background-color: rgb(255,215,0);
    border-color: rgb(255,215,0);
    border-radius: 0;
  }

  .fontCaveat {
    font-family: 'Lobster', cursive;
  }

.index_container{
    position: relative;
    text-align: center;
    color: white;
}

.index_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family:'Lobster', cursive;
    font-size: 100px;
}

.btn_centered{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
