<!DOCTYPE html>
<html>

<head>

    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>
            
            <style>
                h1 {
                    text-align: center;
                    font-family: 'Lobster', cursive;
                    font-size: 4vw;
                }

                #btnGroup {
                    margin: auto;
                    width: 100%;
                    height: 400px;
                    display: flex;
                    background-color: #232426;
                    justify-content: space-between;
                    align-items: center;
                }

                .timeSeri {
                    width: 5%;
                    margin: 0;
                }

                .soundBtn {
                    background-color: #ededed;
                    margin-top: 5px;
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 40px;
                    height: 20px;

                }

                .soundBtn:hover {
                    background-color: #ff593f;
                }

                .btns {
                    padding: 10px;
                    text-align: right;
                }

                .samples button{
                        width: 90%;
                        margin: 10px 10px;
                }
            </style>
</head>

<body>

    <%- include('../../partials/navbar.ejs') -%>

        <h1>Music Editor</h1>
        <div class="left" id="sampleList">
                <div class="samples">
                        <button id="sampleBefore" class="btn btn-default">Sample (Before)</button>
                        <button id="sampleAfter" class="btn btn-default">Sample (After)</button>
                </div>

        </div>
        <div class="right">

            <div id="editTable">
                <div id="btnGroup">
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                    <div class="timeSeri"><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button><button
                            class="soundBtn"></button><button class="soundBtn"></button></div>
                </div>
            </div>

            <div class="btns">
                <button id="play" class="btn btn-info">Play</button>
                <button id="savebtn" class="btn btn-info">Save Original</button>
                <button id="generate" class="btn btn-info">Generate Music</button>
                <button id="saveTrainedbtn" class="btn btn-info">Save</button>
            </div>

        </div>



        <%- include('../../partials/scripts') -%>
</body>

</html>