<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>

        <style>
            .cmsDiv{
                text-align: center;
            }
        </style>

</head>

<body>
    <!--ajax CRUD參考AjaxClient.html-->
    <%- include('../../partials/scripts') -%>
    <%- include('../../partials/adminavbar.ejs') -%>
        <h1 style="text-align: center;">StuBeat 後台管理系統</h1>

        <div class="cmsDiv">
            <img src="/images/cms.gif" alt="">
        </div>

</body>

</html>