<!DOCTYPE html>
<html>

<head>

    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>
            <style>
                h1 {
                    text-align: center;
                    font-family: 'Lobster', cursive;
                    font-size: 4vw;
                }

                div.formDiv {
                    width: 30%;
                    margin: 20px auto;
                }

                .card {
                    width: 30%;
                    height: 50px;
                    margin: 10px auto;
                }

                .btns {
                    width: 50%;
                    margin: 10px auto;
                    text-align: center;
                }

                input#addAdminname,
                input#addAdminpwd {
                    width: 100%;
                }

                span.errorMes {
                    font-size: 12px;
                    color: red;
                }

                #addEmp {
                    width: 30%;
                    height: 450px;
                    margin-left: 35%;
                    margin-top: 2%;
                    background-color: whitesmoke;
                    border: 5px solid rgb(46, 78, 111);
                    border-radius: 5px;
                    /* padding: 5px; */
                    text-align: center;
                }
            </style>
</head>

<body>
    <%- include('../../partials/scripts') -%>
        <h1>Login</h1>

        <div class="formDiv">
            <div class="form-group">
                <label for="email">Email: </label>
                <input class="form-control" type="email" id="email" name="email" value="test@gmail.com"
                    placeholder="test@gmail.com" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label for="pwd">Password: </label>
                <input class="form-control" type="password" id="pwd" name="pwd" required />
            </div>
            <div class="form-group">
                <div class="btns">
                    <button class="btn btn-primary" id="eloginBtn">登入</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmp">註冊</button>
                    <div class="messSpan alert-danger" id="errorMessage" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>
        <!-- addEmp -->
        <div class="modal fade" id="addEmp" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">新增管理者</h3>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label for="addAdminname">管理者名稱：</label>
                                <input id="addAdminname" name="username" type="text" class="form-control" required>
                                <span class="errorMes" id="nameMessage"></span>
                            </div>
                            <div class="form-group">
                                <label for="addAdminemail">使用者信箱：</label>
                                <input id="addAdminemail" name="email" type="email" class="form-control" required>
                                <span class="errorMes" id="emailMessage"></span>
                            </div>
                            <div class="messSpan alert-danger" id="alertMessage" style="margin-top: 10px;"></div>
                            <div class="form-group">
                                <label for="addAdminpwd">使用者密碼：</label>
                                <input id="addAdminpwd" name="password" type="password" size="6" class="form-control"
                                    required>
                                <span class="errorMes" id="idsp"></span>
                                <div class="tip">(1.英數混合 2.6位數以上)</div>
                                <button class="btn btn-primary" id="esignupBtn" type="submit">新增</button>
                                <button type="reset" class="btn btn-success">Reset</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

            var emailFlag = false;

            // login
            $("#eloginBtn").click(function () {
                var email = $("#email").val();
                var password = $("#pwd").val();
                if (email && password) {
                    var loginInfo = {
                        email: email,
                        password: password,
                    };
                    $.ajax({
                        type: "post",
                        url: "http://localhost:1337/api/elogin",
                        data: JSON.stringify(loginInfo),
                        contentType: "application/json;charset=utf-8",
                    })
                        .done(function (result) {
                            localStorage.clear();
                            if (result.length == 0) {
                                $("#errorMessage").html("帳號錯誤");
                            }
                            console.log(result[0]);
                            localStorage.setItem("loginStatus", true);
                            localStorage.setItem("userid", result[0].id);
                            localStorage.setItem("username", result[0].empname);
                            localStorage.setItem("useremail", result[0].empemail);
                            window.location.href = "/admin/eindex";
                        })
                        .fail(function (err) {
                            alert("Error: " + err);
                        });
                } else {
                    alert("請填登入資訊");
                }
            });

            // sign up
            $('#esignupBtn').click(function () {
                var empname = $('#addAdminname').val();
                var empemail = $('#addAdminemail').val();
                var emppassword = $('#addAdminpwd').val();
                if (empname && empemail && emppassword && emailFlag) {
                    var newAdmin = {
                        empname: empname,
                        empemail: empemail,
                        emppassword: emppassword
                    };
                    $.ajax({
                        type: 'post',
                        url: 'http://localhost:1337/api/esignup',
                        data: JSON.stringify(newAdmin),
                        contentType: 'application/json;charset=utf-8'
                    }).done(function (result) {
                        // console.log(result);
                        if (!result.length == 0) {
                            $("#alertMessage").html("帳號存在");
                        }
                        alert('Emp Signup');
                        window.location.href = '/admin/';
                    }
                    ).fail(function (err) {
                        alert('Error: ' + err.errorText);
                    })
                } else {
                    alert("欄位有問題");
                };
            })


            // check password format
            document.getElementById("addAdminpwd").onblur = checkPwd;
            function checkPwd() {
                //取得addAdminpwd元素
                let thePwdObj = document.getElementById("addAdminpwd");//拿到欄位ＩＤ
                console.log(typeof thePwdObj);
                //取得addAdminpwd元素值
                let thePwdObjVal = thePwdObj.value;//拿到欄位值
                console.log(typeof thePwdObjVal);
                console.log(thePwdObjVal);
                //判斷元素值是否為空白，密碼長度是否大於6
                //如果長度是否大於6，判斷是否包含字母、數字、特殊符號
                let sp = document.getElementById("idsp");
                let thePwdObjValLen = thePwdObjVal.length;//拿到輸入內容長度
                let flag1 = false, flag2 = false, flag3 = false;
                if (thePwdObjVal == "")
                    sp.innerHTML = "不可空白";

                // sp.innerHTML = "you need enter";
                else if (thePwdObjValLen >= 6) {

                    sp.innerHTML = ">=";
                    for (let i = 0; i < thePwdObjValLen; i++) {
                        let ch = thePwdObjVal.charAt(i).toUpperCase();
                        if (ch >= "A" && ch <= "Z")
                            flag1 = true;
                        //else if()
                        if (flag1) break;
                    }
                    for (let o = 0; o < thePwdObjValLen; o++) {
                        let num = thePwdObjVal.charAt(o);
                        if (num >= 0 && num <= 9)
                            flag2 = true;
                        if (flag2) break;
                    }
                    if (flag1 && flag2)
                        sp.innerHTML = "👍";
                    else if (flag1)
                        sp.innerHTML = "❌ 缺少數字";
                    else if (flag2)
                        sp.innerHTML = "❌ 缺少英文";
                } else {
                    sp.innerHTML = "❌ 需要6個以上的字元";
                }
            }

            // chack if email already exists
            $('#addAdminemail').blur(function () {
                var emailCheck = $('#addAdminemail').val();
                if (emailCheck === '') {
                    $('#emailMessage').html('不可空白');
                    emailFlag = false;
                } else {
                    var data = { email: emailCheck }
                    $.ajax({
                        type: 'post',
                        url: 'http://localhost:1337/api/AdminemailCheck',
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=utf-8'
                    }).done(function (result) {
                        console.log(result);
                        if (!result.length == 0) {
                            $('#emailMessage').html('會員已存在');
                            emailFlag = false;
                        } else {
                            $('#emailMessage').html('👍')
                            emailFlag = true;
                        }
                    }).fail(function (err) {
                        alert(JSON.stringify(err));
                    });
                }
            })

            // check usename
            $('#addAdminname').blur(function () {
                if ($('#addAdminname').val() === '') {
                    $('#nameMessage').html('不可空白');
                } else {
                    $('#nameMessage').html('👍')
                }
            })


        </script>
</body>

</html>