<!DOCTYPE html>
<html>
  <head>

    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>

  </head>
  <body>
    <%- include('../../partials/navbar.ejs') -%>
<h1>Login</h1>


    <%- include('../../partials/scripts') -%>
  </body>
</html>
