<!DOCTYPE html>
<html>

<head>

    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>
            <style>
                h1 {
                    text-align: center;
                    font-family: 'Lobster', cursive;
                    font-size: 4vw;
                }

                .card {
                    width: 50%;
                    margin: 20px auto;
                }
            </style>
</head>

<body>
    <%- include('../../partials/navbar.ejs') -%>
        <h1>Login</h1>

        <div class="card social-block">
            <div class="card-body">
                <a class="btn btn-block btn-social btn-google" href="/google" role="button">
                    <i class="fa fa-google"></i>
                    Sign up with google
                </a>
            </div>
        </div>


        <%- include('../../partials/scripts') -%>
</body>

</html>